/* Обертка для компонента */
.password-strength-container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center; /* Центрирование текста в инпуте */
  }
  
  div {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
    cursor: default;
  }
  
  .gray {
    background-color: #ccc; /* Серый цвет фона */
    color: #fff;
  }
  
  .red {
    background-color: #ff5959; /* Красный цвет фона */
    color: #fff;
  }
  
  .yellow {
    background-color: #ffc542; /* Желтый цвет фона */
    color: #000;
  }
  
  .green {
    background-color: #66cc71; /* Зеленый цвет фона */
    color: #fff;
  }
  